/* 
To properly display the items, I added the header files, made it a container 
for all of the divs inside, and used justify content flex direction 
and align item.
TODO: z-index: auto, does it work? it does but you hvae to postion it.
*/

#headerProfile {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: url(../images/concrete-wall-2.png);
  flex-shrink: 2;
}

/*
Default was bold turned it to normal.
*/
#headerProfile h2 {
  font-weight: normal;
}
