/*
All elements within nav are affected by the nav bar below.
It's the nav bar's container.
*/

nav {
  width: 100vw;
  height: 120px;
  display: flex;
  padding: 1.5em;
  color: #ffffff;
  flex-direction: row;
  background-color: #4056a1;
  top: 0;
  position: fixed;
}

/*
The header or 'tweeter' title is held at the top by the bungee id below.
*/
#bungee {
  font-family: "Bungee", cursive, sans-serif;
}

/* 
This two ids hold the 'write new tweet' and 'tweeter' logo properties,
They are separate as the arrow should have a different color(red).
*/
#newTweet {
  margin-left: auto;
}
#arrow {
  text-align: center;
  color: red;
}
