/*
All elements within nav are affected by the nav bar below.
It's the nav bar's container.
*/
nav {
  width: 100vw;
  height: 120px;
  display: flex;
  padding: 1.5em;
  color: #ffffff;
  flex-direction: row;
  background-color: #4056a1;
  top: 0;
  position: fixed;
  z-index: 10;
}

/*
The header or 'tweeter' title is held at the top by the logo id below.
*/
#bungee {
  font-family: "bungee", cursive, sans-serif;
}

/* 
This two ids hold the 'write new tweet' and 'tweeter' logo properties,
They are separate as the arrow should have a different color(red).
*/
#newTweet {
  margin-left: auto;
}
#arrow {
  text-align: center;
  color: red;
}

/* 
This applies to screens less than 1024px
*/
@media only screen and (max-width: 1024px) {
  nav{
    color: #545149;
    background-color: white;
    background-image: url(../images/concrete-wall-2.png);
  }
}

