/* Our error message that gets displayed if there are invalid chx in our input field */
.error {
  display: none;
  font-family: "Source Sans Pro";
  text-align: center;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

/* Changes color of counter if chx limit is reached */
.counter-red-changer {
  color: red;
}
.counter-default-changer {
  color: #545149;
}

/*
The compose id is used for the styling of the tweeter box,
the one which displays tweets. 
 */
#compose {
  opacity: 80%;
  font-weight: 500;
  text-align: center;
  font-family: "Source Sans Pro";
  text-shadow: 10px 5px 5px rgba(33, 33, 33, 0.2);
}

/* 
The container holds all of the main's contents, its not a flexbox.
*/
.container {
  width: 100%;
  padding-left: 4em;
  padding-right: 4em;
  font-family: "Bungee", cursive, sans-serif;
}

/* 
The text area contains the input box for tweets, which is 100% of the width of the page.
the main div or the container This css is where you'll find the properties for it.
*/
#tweet-text {
  width: 100%;
  height: 1cm;
  outline: none;
  font-family: sans-serif;
  border-color: #f4f1ec;
  background-color: #f4f1ec;
  border-bottom-width: medium;
  border-bottom-color: #545149;
}

/*
form
*/
form {
  font-family: sans-serif;
  font-weight: bold;
}

/* 
The button counter is a flexbox that serves as a container for both the counter and the button. 
Its sole purpose is to keep the two together so that they can be displayed properly.
*/
.buttonCounter {
  display: flex;
}

/* 
This output box holds the styling for the counter.
*/
output {
  display: flex;
  margin-left: auto;
}

/* 
All properties of the button.
*/
.button-15 {
  background-color: #4056a1;
  border: 1px solid #0077cc;
  border-radius: 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  direction: ltr;
  display: block;
  font-family: "Bungee", cursive, sans-serif;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -0.022em;
  line-height: 1.47059;
  min-width: 30px;
  overflow: visible;
  padding: 4px 15px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-15:disabled {
  cursor: default;
  opacity: 0.3;
}

.button-15:hover {
  background-image: linear-gradient(#51a9ee, #147bcd);
  border-color: #1482d0;
  text-decoration: none;
}

.button-15:active {
  background-image: linear-gradient(#3d94d9, #0067b9);
  border-color: #006dbc;
  outline: none;
}

label {
  opacity: 70%;
}

/* 
This applies to screens less than 1024px
*/
@media only screen and (max-width: 1024px) {
  .button-15 {
    background-color: #6b665a;
    border: 1px solid #969080;
  }

  .button-15:hover {
    background-image: linear-gradient(#969080, #6b665a);
    border-color: #969080;
  }
}
